@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}

               /* ===========BACKGROUND IMAGE=========== */
.image{
            background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(pictureone\ \(21\).jpg);
            height: 656px;
            width:100%;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 60px;
            position: relative;
}
.herosection{
    display: flex;
    align-items: center;
    display: block;

}
.herosection h1{
    font-size: 5rem;
    color: white;
    font-family:'Playfair Display', serif ;
    margin-left: 70%;
    width: 250px;
    line-height: 80px;
}

    

/* ============NAVBAR SECTION============ */

li , a , button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    
}

.navcotainer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 30px 1.2%;
    
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    
}
.nav-links li a:hover{
    
    color: #0088a9;    
}

button{
    padding: 9px 25px;
    background-color: rgb(6, 12, 14);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 70%;
    margin-top: 35px;
    
}
button:hover{
    background-color: rgba(6, 12, 14, 0.8);

}





.xxx{
    font-family: 'Dancing Script';
    font-size: 3rem;
    margin-top: 40px;
}
/* ============ABOUT US SECTION============ */

.aboutus{
    font-family: 'Libre Baskerville', serif;
}






.formsection{
    background-color: #060f0c9a;
    color:white;
    border-radius: 10%;
    
}
.formsection h3{
    padding-top: 10px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form{
    padding: 20px;
}
.formsectionimg{
    background-image: url(pictureone\ \(10\).jpg);
}



    /* ----------PARALLAX IMAGE SECTION---------- */

    
.transparent{
    background-color:rgb(0,0,0);
}
.parallax{
    background-image: url(pictureone\ \(19\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 420px;
    width: 100%;
    margin-top: 70px;
    position: relative;
    text-align: center;
    color: rgb(233, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.overlay{
    width: 100%;
    height:100%;
    background: #000;
    opacity: .5;
    position: absolute;
}
.paralx-text{
    z-index: 1;
}
.paralx-text h2{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}
.paralx-text h3{
    font-family: monospace;
    font-size: 35px;
}


    /* ----------OUR TEAM SECTION---------- */

.our-team{
    text-align: center;
}
.our-team .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.our-team .pic::before, .our-team .pic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 13px solid #e6e5e5;
    position: absolute;
    top: 0;
    left: 0;
}
.our-team .pic::after{
    border-color:#37b0f1 #e6e5e5 #e6e5e5 #37b0f1;
    z-index:1;
    transform: rotate(-10deg);
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic::after{
    transform: rotate(350deg);
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .title{
    font-size: 26px;
    font-weight: bold;
    color: #222;
    padding-bottom: 10px;
    margin:15px 0 10px 0;
    position: relative;
}
.our-team .title:after{
    content: "";
    width: 30px;
    height: 2px;
    background: #222;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    font-style: italic;
    color: #777;
}

/* FOOTER SECTION */
footer{
    height: 250px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #12232E;
    color: #EEFBFB;
}

.about{

padding: 15px;    
}
.quick-links{
    display: flex;
    justify-content: center;
    padding-top:30px;
}
.foter-links{
    list-style-type: none;
}
.hours{
    padding: 15px;
    
}
.hours i{
    margin-top: 30%;
    margin-right: 5px; ;
}



@media screen and (max-width:600px) {
    .formcontainer {
        display: none;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-4 4:20:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }

  




  